<div class="container-fluid p-0 card-container">
    <div class="row row-card">
<!-- GESTIONE CARD LISTA NG FOR -->
        <div *ngFor="let card of listaCardRetrievedFromServer;" class="col card">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{card.card_title}}</h5>
                  <p class="card-text">{{card.card_text}}</p>
                  
                </div>
              </div>
        </div>
    </div>
</div>
