<!-- <h1>
   {{ saluto.documentStatus }} INTERPOLAZIONE
</h1>
<label for="fname">BOTTONE</label> -->


<div class="container-fluid">
   
   
   <div class="row">
      
      
      
      <div class="col-6">
            
      </div>

      <div class="col-6">
        Dal 01-10-2015
      </div>
      </div>
      <div class="container">
         <div class="row">
           <div class="col-md-6">Materia</div>
           <div class="col-md-3">Voti</div>
            <div class="col-md-3">Media</div>
         </div>
         <div class="row">
           <div class="col-md-6">Italiano</div>
           <div class="col-md-3">2</div>
           <div class="col-md-3">7,50</div>
         </div>
         <div class="row">
            <div class="col-md-6">Matematica</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">6,58</div>
          </div>
          <div class="row">
            <div class="col-md-6">Scienze</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">8,38</div>
          </div>
          <div class="row">
            <div class="col-md-6">Storia</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">8,45</div>
          </div>
          <div class="row">
            <div class="col-md-6">Geografia</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">7,50</div>
          </div>
          <div class="row">
            <div class="col-md-6">Francese</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">8,85</div>
          </div>
          <div class="row">
            <div class="col-md-6">Inglese</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">6,15</div>
          </div>
          <div class="row">
            <div class="col-md-6">Musica</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">5,00</div>
          </div>
          <div class="row">
            <div class="col-md-6">Educazione Fisica</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">7,00</div>
          </div>
          <div class="row">
            <div class="col-md-6">Tecnica</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">8,00</div>
          </div>
          <div class="row">
            <div class="col-md-6">Religione</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">8,00</div>
          </div>













       </div>
      
    
 
 
