<!-- <h1>
   {{ saluto.documentStatus }} INTERPOLAZIONE
</h1>
<label for="fname">BOTTONE</label> -->


<div class="container-fluid">
   
   <!-- PRIMA RIGA STATICA -->
   <div class="row">   
      <div class="col-6 first-row-col-left">  
      </div>
      <div *ngIf="dataPagellino !== '' " class="col-6 first-row-col-right">
        {{dataPagellino}}
      </div>
    </div>
   <!-- SECONDA RIGA STATICA -->
      <div class="row">
          <div class="col-md-6 second-row-col-left" >Materia</div>
          <div class="col-md-2 second-row-col-center">Voti</div>
          <div class="col-md-4 second-row-col-right">Media</div>
      </div>
<!-- N RIGHE DINAMICHE -->
      <div class="row" *ngFor="let tipoMateria of listaVoti;let i = index">
          <div  [ngClass]="{'first-value-col': i === 0, 'every-value-col-notFirst' : i !==0}" class="col-md-6 materia-value-col">{{tipoMateria.materia}}</div>
          <div [ngClass]="{'first-value-col': i === 0,'every-value-col-notFirst' : i !==0}"class="col-md-2">{{tipoMateria.voto}}</div>
          <div [ngClass]="{'first-value-col': i === 0, 'every-value-col-notFirst' : i !==0}"class="col-md-3">{{tipoMateria.media}}</div>
          
          <div class="col-md-1">PROVA</div>
          
      </div>
</div>














      
    
 
 
