<!-- <h1>
   {{ saluto.documentStatus }} INTERPOLAZIONE
</h1>
<label for="fname">BOTTONE</label> -->


<div class="container-fluid" >
   
   <!-- PRIMA RIGA STATICA -->
   <div class="row" id="prima_riga">   
      <div class="col-6" id="first_col">  
      </div>
      <div *ngIf="dataPagellino !== '' " class="col-6" id="second_col">
        {{dataPagellino}}
        
      </div>
    </div>
   <!-- SECONDA RIGA STATICA -->
      <div class="row" id="seconda_riga">
          <div id="first_col" class="col-md-6" >Materia</div>
          <div id="second_col" class="col-md-2">Voti</div>
          <div id="third_col" class="col-md-4">Media</div>
      </div>
<!-- N RIGHE DINAMICHE -->
<ng-container  *ngFor="let tipoMateria of listaVoti; let i = index;first as isFirst;last as isLast">
   <div class="row" [ngClass]="{'first-value-row': isFirst, 'not-first-value-row': isLast,'medium-row': !(isLast && isFirst)}">
   
  
   <ng-container *ngFor="let element of tipoMateria | keyvalue">
        <div class="col">{{ element.value }} + '5' +'11'</div>
    </ng-container> 


     
    </div>   
       
</ng-container>
</div>













      
    
 
 
