p {
    font-size: 24px;
    color: blue;
    font-weight: bold;
  }

#prima_riga {
    border: solid 1px;
    // border-bottom-width: 0px;
    background-color: #CBFEFEff;
}
#prima_riga #first_col {
  border: solid 0px;
  border-right-width: 1px;
  background-color: #CBFEFEff;
}
#prima_riga #second_col {
  border: solid 0px;
  border-left-width: 1px;
  background-color: #CBFEFEff;
}

#seconda_riga  {
  border: solid 1px;
  background-color: #CBFEFEff;
}

#seconda_riga  #first_col  {
  border: solid 0px;
  border-right-width: 1px;
  background-color: #CBFEFEff;
}
#seconda_riga  #second_col  {
  border: solid 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  background-color: #CBFEFEff;
}
#seconda_riga  #third_col  {
  border: solid 0px;
  border-left-width: 1px;
  background-color: #CBFEFEff;
}






#riga_dinamica  div  {
  // border: solid 1px;
  background-color: white;
}

#riga_dinamica   {
   border: solid 1px;
  background-color: white;
}

#riga_dinamica #first_col  {
  border: solid 0px;
  border-right-width: 1px;
  background-color: white;
}

#riga_dinamica #second_col  {
  border: solid 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  background-color: white;
}
#riga_dinamica #third_col  {
  border: solid 0px;
  border-right-width: 1px;
  border-left-width: 1px;
  background-color: white;
}
#riga_dinamica #fourth_col  {
  border: solid 0px;
  border-left-width: 1px;
  background-color: white;
}
    
  
 
  
