.drop-container{
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: white;
    height: 20vh;
    border: 2px saddlebrown solid;
    color: #edb6dc;
    background: linear-gradient(
        90deg, hsla(190, 47%, 69%, 1) 0%, hsla(337, 100%, 54%, 1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu-link .mobile-link {
    
}
.menu-link .mobile-link{
   /*  background: hsla(337, 60%, 54%, 1);

    background: linear-gradient(90deg, hsla(337, 60%, 54%, 1) 0%, hsla(38, 89%, 50%, 1) 45%); */
    color:#fff093;
    border-radius: 15px;
    background: linear-gradient(
90deg, hsla(190, 65%, 67%, 1) 0%, hsla(337, 100%, 65%, 1) 100%);
}
.menu-link a{
    color:#fff093;
    font-size: 20px;
}
.mobile-link:hover{
    box-shadow: 1px 5px 20px 8px teal;
    
}


    