<i class="bi bi-list mobile-menu-icon btn" (click)="showDropDown()"></i>


<div class="container drop-container" *ngIf="showDropDownFlag">
    <div class="row menu-link ">
       
        <div class="col-12 align-self-center p-0 my-2 mobile-link">
            <a #ciao class="btn"> LINK 1</a>
        </div>
        <div class="col-12 align-self-center p-0 my-2 mobile-link">
            <a class="btn"> LINK 1</a>
        </div>
        <div class="col-12 align-self-center p-0 my-2 mobile-link"> 
            <a class="btn"> LINK 1</a>
        </div>
    </div>
</div>
