header .second .row{
    border: 13px saddlebrown solid;
    border-radius: 10px;
    background-color: white;
}

header .second .col:first-child {
    background-color: #9a8aab;

}
header .second .col:first-xxxx {
    background-color: #9a8aab;

}
header .second .col:nth-child(2) {
    background-color: #edb6dc;

}
header .second .col:nth-child(3) {

}
header .second .col:nth-child(4) {
    background-color: #fff093;

}




header .second .col:hover{
  
    background-color: white;
   

}
header .second a:nth-child(2):hover{
    background-color: #edb6dc;

}
header .second a:nth-child(3):hover{
    background-color: #84d3db;

}
header .second a:nth-child(4):hover{
    background-color: #fff093;

}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
    font-family: Chalkduster, fantasy;
    font-size: 20px;
    color: saddlebrown;
    background: hsla(337, 60%, 54%, 1);

    background: linear-gradient(90deg, hsla(337, 60%, 54%, 1) 0%, hsla(38, 89%, 50%, 1) 45%);
    
}
header .bird-icon{
    width: 90px;
    transform: scaleX(-1);
}
header .mobile-menu-icon{
    font-size:50px;
}
header a:hover{
    cursor: pointer;
    background-color: teal;
    border: solid 1px teal;
    border-radius: 32px;
}
header .first{
   /*  border: 1px solid red; */
    border-right: none;
    /* background-color:  white; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

header .second{
    /* border: 1px solid red; */
    border-left:none;
    /* background-color: white ; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

header .third{
   /*  border: 1px solid red; */
    border-left:none;
   /*  background-color: blue ; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}
