/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html{
    font-family: Chalkduster, fantasy;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: hsla(337, 60%, 54%, 1);

    background: linear-gradient(90deg, hsla(337, 60%, 54%, 1) 0%, hsla(38, 89%, 50%, 1) 45%);
}



.btn{
    cursor:pointer
}
.btn:hover{
color: saddlebrown;
}

